---
- name: fission-apb playbook to deprovision the application
  hosts: localhost
  gather_facts: False
  connection: local
  roles:
  - role: ansible.kubernetes-modules
    install_python_requirements: no
  - role: ansibleplaybookbundle.asb-modules
  - role: deprovision-fission-apb
    playbook_debug: false
